<div class='wrap-center'><%= link_to "Create group", new_group_path, class: "link" %></div>

<div class='wrap-center' id="group-list">
  <ul>
    <% @groups.each do |group| %>
      <%= link_to group_path(group), class: 'ul-link' do %>
        <li>
          <h2><%= "#{group.name}" %></h2>
          <%= "#{group.blurb}" %>
        </li>
        <br>
      <% end %>
    <% end %>
  </ul>
</div>
