<h1>New Billing</h1>

<%= form_tag group_transactions_path do %>
  <% @group_members.each do |member| %>
    <%= member.first_name %> <%= check_box_tag "member", "#{member.first_name}" %>
  <% end %>
  <%= text_field_tag :transaction_amount, '', placeholder: "Amount" %>
<% end %>
